<header class="bg-black sticky top-0 z-50">
  <div class="container flex flex-wrap align-center justify-center lg:justify-between mx-auto lg:px-24 py-6">
    <div>
      <a href="{{ '/' | relative_url }}" class="text-red">
        <img src="{{ site.logo | relative_url }}" alt="BlackFriday.com.br" class="h-14" />
      </a>
    </div>
    <nav class="w-full lg:w-auto inline-flex px-12 lg:px-0 mt-4 lg:mt-0">
      <ul class="w-full lg:w-80 inline-flex justify-between list-none">
        {% for header_page in site.header.pages %}
          <li class="my-auto">
            <a href="{{ site.url }}{{ site.base_url }}{{ header_page.href }}" class="hover:text-white {% if page.permalink == header_page.href %}text-white{% else %}text-red{% endif %}">{{ header_page.cta }}</a>
          </li>
        {% endfor %}
      </ul>
    </nav>
  </div>
</header>
