<section class="bg-black">
  <div class="container mx-auto pb-32 md:px-24 py-10 pt-20 flex align-center justify-between">
    <div class="w-1/2 flex flex-col justify-end pb-6">
      <img src="{{ site.what.image | relative_url }}" alt="Descontos em eletrodomésticos" class="pr-12 h-80" />
    </div>
    <div class="w-4/6">
      <h2 class="uppercase font-bold text-white text-2xl text-md md:text-xl lg:text-4xl mb-4">O que significa <span class="text-red">BlackFriday?</span></h2>
      <hr class="border-b-2 border-red w-24 mb-16"/>
      {% for item in site.what.paragraphs %}
      <p class="my-4 text-gray-400 text-sm">{{ item }}</p>
      {% endfor %}
    </div>
  </div>
</section>