<section id="what" class="bg-black">
  <div class="container flex align-center justify-between flex-wrap lg:flex-nowrap mx-auto px-8 py-8 lg:px-24 lg:py-12 lg:pb-32 lg:pt-20">
    <div class="lg:w-1/2 flex items-end mx-auto pb-6 mb-8 lg:mb-0">
      <img src="{{ page.what.image | relative_url }}" alt="Descontos em eletrodomésticos" class="px-4 lg:pl-0 lg:pr-12 w-full lg:w-auto" />
    </div>
    <div class="lg:w-1/2">
      <h2 class="uppercase font-bold text-white text-2xl text-md md:text-xl lg:text-4xl mb-4">{{ page.what.title }} <span class="text-red">BlackFriday?</span></h2>
      <hr class="border-b-2 border-red w-24 mb-16"/>
      {% for paragraph in page.what.paragraphs %}
        <p class="my-4 text-gray-400 text-sm">{{ paragraph }}</p>
      {% endfor %}
    </div>
  </div>
</section>