<section>
  <div class="container mx-auto my-24 md:px-24 py-10 flex align-center justify-between">
    <div class="w-1/2">
      <h2 class="uppercase font-bold text-black text-2xl text-md md:text-xl lg:text-4xl mb-4">Quando é a <span class="text-red">BlackFriday?</span></h2>
      <hr class="border-b-2 border-red w-24 mb-16"/>
      {% for item in site.when.paragraphs %}
        <p class="my-4 text-gray-400">{{ item }}</p>
      {% endfor %}
    </div>
    <div class="w-1/2 flex justify-center">
      <a href="{{ '/' | relative_url }}" class="text-red">
        <img src="{{ site.when.image | relative_url }}" alt="BlackFriday.com.br" />
      </a>
    </div>
  </div>
</section>