<section id="when">
  <div class="container flex align-center justify-center lg:justify-between flex-wrap mx-auto px-8 lg:px-24 py-8 lg:py-24">
    <div class="lg:w-1/2">
      <h2 class="uppercase font-bold text-black text-2xl text-md md:text-xl lg:text-4xl mb-4">{{ page.when.title }} <span class="text-red">BlackFriday?</span></h2>
      <hr class="border-b-2 border-red w-24 mb-16"/>
      {% for item in page.when.paragraphs %}
        <p class="my-4 text-gray-400 text-sm">{{ item }}</p>
      {% endfor %}
    </div>
    <div class="lg:w-1/2 w-4/5 flex flex-wrap justify-center mt-8 lg:mt-0">
      <a href="{{ '/' | relative_url }}" class="text-red">
        <img src="{{ page.when.image | relative_url }}" alt="BlackFriday.com.br" />
      </a>
    </div>
  </div>
</section>