---
layout: default
---

<section class="bg-black bg-banner bg-no-repeat">
  <div class="flex justify-center mx-auto py-4 lg:px-24">
    <div class="w-3/4 h-24 bg-white">
    </div>
  </div>
  <div class="container mx-auto lg:px-8 lg:px-24 text-gray-800">
    <div class="bg-white flex py-8 px-8 flex-wrap lg:flex-nowrap">
      <article class="bg-white lg:w-3/4 lg:pr-8 gap-8">
        <nav class="font-thin text-sm">
          <a href="{{site.url}}" class="text-sm">Início</a><span class="mx-1">/</span><span class="text-gray-400">Blog</span><span class="mx-1">/</span> 
          <span class="text-gray-400">{{ page.title }}</span>
        </nav>
        <header class="text-2xl mb-6">
          <h1 class="font-regular text-dark-red font-bold uppercase mt-4">{{ page.title | escape }}</h1>
        </header>
        {% if page.image %}
          <img src="{{ site.url }}{{ page.image }}" alt="{{ page.title }}" class="max-w-3xl w-full lg:h-72 mb-4" />
        {% endif %}
        {{ content }}
      </article>
      <aside class="float-right pt-5 lg:w-1/4">
        <header class="h-8 lg:mt-12 flex items-end">
          <h4 class="font-bold text-black">Outras postagens</h4>
        </header>
        <ul class="mt-6">
          {% for post in site.blog %}
            {% if post.title != page.title %}
              <li class="mb-8">
                <a href="{{ post.url | relative_url }}" class="flex flex-col align-center justify-between bg-black hover:bg-light-red">
                  <img src="{{ post.image | relative_url }}" alt="{{ post.title }}" class="w-full" />
                  <div class="flex flex-col justify-between gap-4 py-4 h-44 px-4">
                    <h6 class="w-60 text-white text-sm pr-4">{{ post.title }}</h6>
                    <h7 class="font-thin opacity-20 text-white">data</h7>
                  </div>
                </a>
              </li>
            {% endif %}
          {% endfor %}
        </ul>
      </aside>
    </div>
  </div>
  <div class="flex justify-center mx-auto py-4 lg:px-24">
    <div class="w-3/4 h-24 bg-white">
    </div>
  </div>
</section>
{% include blog.html %}
